* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;

    margin: 0;
    padding: 0;

    color: #606c71;
}

a {
    text-decoration: none; 

    color: #1e6bb8;
}
a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;

    margin-bottom: 1rem;

    transition: color .2s, background-color .2s, border-color .2s; 

    color: rgba(255, 255, 255, .7);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, .2);
    border-radius: .3rem;
    background-color: rgba(255, 255, 255, .08);
}
.btn + .btn {
    margin-left: 1rem;
}

.btn:hover {
    text-decoration: none;

    color: rgba(255, 255, 255, .8);
    border-color: rgba(255, 255, 255, .3); 
    background-color: rgba(255, 255, 255, .2);
}

@media screen and (min-width: 64em) {
    .btn {
        padding: .75rem 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        font-size: .9rem; 

        padding: .6rem .9rem;
    }
}

@media screen and (max-width: 42em) {
    .btn {
        font-size: .9rem; 

        display: block;

        width: 100%;
        padding: .75rem;
    }
    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0;
    }
}

.page-header {
    text-align: center;

    color: #fff;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 5rem 6rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 3rem 4rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 2rem 1rem;
    }
}

.project-name {
    margin-top: 0;
    margin-bottom: .1rem;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem;
    }
}

.project-tagline {
    font-weight: normal;

    margin-bottom: 2rem;

    opacity: .7;
}

@media screen and (min-width: 64em) {
    .project-tagline {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 42em) {
    .project-tagline {
        font-size: 1rem;
    }
}

.main-content :first-child {
    margin-top: 0;
}
.main-content img {
    max-width: 100%;
}
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    font-weight: normal;

    margin-top: 2rem;
    margin-bottom: 1rem;

    color: #159957;
}
.main-content p {
    margin-bottom: 1em;
}
.main-content code {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: .9rem;

    padding: 2px 4px;

    color: #383e41;
    border-radius: .3rem; 
    background-color: #f3f6fa;
}
.main-content pre {
    font: 1rem Consolas, 'Liberation Mono', Menlo, Courier, monospace;

    margin-top: 0;
    margin-bottom: 1rem;
    padding: .8rem;

    word-wrap: normal;

    color: #567482;
    border: solid 1px #dce6f0;
    border-radius: .3rem; 
    background-color: #f3f6fa;
}
.main-content pre > code {
    font-size: .9rem;

    margin: 0;
    padding: 0;

    white-space: pre;
    word-break: normal;

    color: #567482;
    border: 0; 
    background: transparent;
}
.main-content .highlight {
    margin-bottom: 1rem;
}
.main-content .highlight pre {
    margin-bottom: 0;

    word-break: normal;
}
.main-content .highlight pre,
.main-content pre {
    font-size: .9rem;
    line-height: 1.45;

    overflow: auto;

    padding: .8rem;

    border-radius: .3rem;
}
.main-content pre code,
.main-content pre tt {
    line-height: inherit;

    display: inline;
    overflow: initial;

    max-width: initial;
    margin: 0;
    padding: 0;

    word-wrap: normal;

    border: 0; 
    background-color: transparent;
}
.main-content pre code:before,
.main-content pre code:after,
.main-content pre tt:before,
.main-content pre tt:after {
    content: normal;
}
.main-content ul,
.main-content ol {
    margin-top: 0;
}
.main-content blockquote {
    margin-left: 0;
    padding: 0 1rem;

    color: #819198;
    border-left: .3rem solid #dce6f0;
}
.main-content blockquote > :first-child {
    margin-top: 0;
}
.main-content blockquote > :last-child {
    margin-bottom: 0;
}
.main-content table {
    display: block;
    overflow: auto;

    width: 100%;

    word-break: normal;
    word-break: keep-all;
}
.main-content table th {
    font-weight: bold;
}
.main-content table th,
.main-content table td {
    padding: .5rem 1rem;

    border: 1px solid #e9ebec;
}
.main-content dl {
    padding: 0;
}
.main-content dl dt {
    font-size: 1rem;
    font-weight: bold; 

    margin-top: 1rem;
    padding: 0;
}
.main-content dl dd {
    margin-bottom: 1rem; 
    padding: 0;
}
.main-content hr {
    height: 2px;
    margin: 1rem 0;
    padding: 0;

    border: 0; 
    background-color: #eff0f1;
}

@media screen and (min-width: 64em) {
    .main-content {
        font-size: 1.1rem; 

        max-width: 64rem;
        margin: 0 auto;
        padding: 2rem 6rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        font-size: 1.1rem; 

        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        font-size: 1rem; 

        padding: 2rem 1rem;
    }
}

.site-footer {
    margin-top: 2rem;
    padding: 2rem 0;
    text-align: center;
    border-top: solid 1px #eff0f1;
    background-color: #fbfbfb;
}

.site-footer-owner {
    font-weight: bold; 

    display: block;
}

.site-footer-credits {
    color: #819198;
}

@media screen and (min-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 42em) {
    .site-footer {
        font-size: .9rem;
    }
}

.post-iframe {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.browsehappy {
    background-color: orange;
    line-height: 24px;
}