@charset "UTF-8";

.animation {
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.filter {
    display: flex;
}
.filter-text {
    flex: 1;
    padding: 0;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.filter-btn {
    width: 60px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    background: none;
    margin-left: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.olist {
    padding-left: 0;
    margin: 10px 0 0;
    list-style: none;
    border: 1px dotted #ccc;
}
.olist li {
    padding: 0 5px;
    display: flex;
    line-height: 30px;
    border-bottom: 1px dotted #ccc;
    background-color: #efefef;
}
.olist li:last-child {
    border: none;
}
.olist li .content {
    flex: 1;
}
.btn-remove {
    width: 60px;
    display: inline-block;
    background-color: #ccc;
    border-radius: 3px;
    height: 24px;
    line-height: 24px;
    margin-top: 3px;
    text-align: center;
    cursor: pointer;
}

.fade-enter {
  opacity: 0;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.fade-appear {
  opacity: 0;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.fade-leave {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.fade-enter.fade-enter-active {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.fade-appear.fade-appear-active {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.fade-leave.fade-leave-active {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}